a.name_pokemon{
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: darkslategray;
    font-family: system-ui;
    letter-spacing: 1px;
    font-size: 18px;
    border: 1px solid #eee;
}
a.name_pokemon:hover{
    background-color: darkslategray;
    color: #fff;
}

.container_pokedex{
    width: 400px;
    background-color: #FC2934;
    border-radius: 1em;
    padding: 1em;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    text-align: center;
}